.DS_Store
.idea
.env
.env.testing
.phpunit.result.cache
phpunit.dusk.xml
auth.json

# Ignore vendor files installed by composer (composer.lock is versioned: reproducible builds)
/vendor
node_modules

/public/vendor
/public/storage

/storage/clockwork
/_ide_helper.php
